header.header
	.box
		.header__logo
			img(src="assets/images/logo-header.png")
		nav.header__nav
			ul.header__nav-list
				li.header__nav-item.header__nav-item--about Обо мне
				li.header__nav-item.header__nav-item--works Работы