section.language
	.box
		.language__first
			.language__items
				.language__item English
				.language__item Русский
				.language__item Deutch
				.language__item.wrong-lang Yoruba
			.language__banner Which language do you prefer?

		.language__last
			.language__text Привет
				span , я дизайнер и фронтент - разработчик. Я хорошо умею делать сайты для любых целей.  Свяжитесь со мной, опишите ваш будущий сайт.  Вы останетесь довольны!
			.language__buttons
				.language__button-wrap
					.language__button-text Я и мои работы
					img(src="#").language__button-next
				.language__button-form Заказать сайт