section.welcome
	.welcome__bg
		svg.welcome__bg-svg
			use(xlink:href="assets/images/svg/bg-welcome.svg#bg-welcome")
	.box
		.welcome__logo
			.welcome__logo-circle
				img(src="assets/images/svg/big-racoon.svg")
			img(src="assets/images/logo-text.png" width="150px").welcome__logo-text
		.welcome__line
			.welcome__line-line
			.welcome__line-circle
		.welcome__text Дизайн & фронтенд
		.welcome__button Напиши мне
		.welcome__button-under Создаю сайты с «изюминкой»
		.welcome__nav
			.welcome__nav-item.nav-item--left.header__nav-item--about
				img(src="assets/images/arrow-left.png")
				.welcome__nav-text Обо мне
			.welcome__nav-item.nav-item--right.header__nav-item--works
				.welcome__nav-text Мои работы
				img(src="assets/images/arrow-right.png")