section.works
	.box
		.works__nav
			.works__nav-item.works__nav-item--active frontend
			.works__nav-item design
		.works__slider
			.works__skills
				.works__skill
					img(src="assets/images/svg/icon_html.svg")
				.works__skill
					img(src="assets/images/svg/icon_css.svg")
				.works__skill
					img(src="assets/images/svg/icon_html.svg")
			.works__slider-wrap

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/begemot-begemot.jpg'); background-color: #d64552;")
						.slide-item__text Корпоративный сайт компании begemot-begemot
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/kolomna.jpg'); background-color: #46a1bc;")
						.slide-item__text Сайт для администрации МО «Коломна»
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/pd1.jpg'); background-color: #ffffff;")
						.slide-item__text Корпоративный сайт компании begemot-begemot
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/tree.jpg'); background-color: #d64552;")
						.slide-item__text Корпоративный сайт компании begemot-begemot
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/myplannr.jpg'); background-color: #d64552;")
						.slide-item__text Корпоративный сайт компании begemot-begemot
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")

				.works__slide.works-slide
					.works-slide__item.slide-item(style="background-image: url('assets/images/monia.jpg'); background-color: #962b42;")
						.slide-item__text Корпоративный сайт компании begemot-begemot
						.slide-item__buttons
							a(href="#" target="_blank").slide-item__description Описание
							a(href="#" target="_blank").slide-item__link
								img(src="assets/images/svg/icon_link.svg")
