.footer
	width 100%
	position fixed
	bottom 0
	left 0
	padding-bottom 24px
	display none
	.box
		display flex
		justify-content space-between
	&__item
		color #bebebe
		font-size 14px
		font-weight 400
		font-family 'Proxima Nova'
		font-weight 400