$bg-welcome = 1400px 768px
$big-racoon = 281px 231px
$close = 12px 12px
$delete-item = 19px 19px
$icon-gamburger = 22px 15px
$icon_html = 54px 53px
$icon_js = 28px 28px
$icon_link = 28px 28px
$instagram = 512px 512px
$line = 159px 85px
$logo-text = 150px 29px
$logo = 129px 42px
$marker = 51px 69px
$rectangle = 72px 72px
$triangle = 71px 70px
$triangle1 = 88px 99px


svgSize($icon)
	width $icon[0]
	height $icon[1]